.swiper {
  position: relative;
}

.logo__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include for-tablet {
    padding-top: 40px;
  }

  &--image {
    @include for-tablet {
      width: 180px;
    }
  }

  &--text {
    .text-title {
      font-family: $font-primary;
      font-size: 17px;
      font-weight: 600;
      line-height: 21px;
      color: black;

      @include for-tablet {
        font-size: 11px;
        line-height: 13px;
      }
    }
  }
}

.swiper-pagination {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 5px;
  overflow: hidden;

  @include for-tablet {
    height: 10px;
  }

  &:after {
    background: #618787;
    width: 100%;
    top: 50%;
    left: 0;
    height: 2px;
    transform: translateY(-1px);
    position: absolute;
    content: "";

    @include for-tablet {
      height: 10px;
    }
  }
  &-progressbar {
    background: #618787;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    transition: 0.4s all ease-in;

    @include for-tablet {
      top: 2px;
    }
  }
}

.form-step__wrapper {
  min-height: 490px;

  @include for-tablet {
    min-height: 480px;
  }

  .modified-top {
    height: 290px;

    @include for-tablet {
      height: 390px;
    }
  }

  &--top {
    height: 200px;
    margin-top: 60px;

    @include for-tablet {
      height: 220px;
    }

    .title {
      font-size: 46px;
      font-weight: 300;
      line-height: 58px;
      color: #857373;

      @include for-tablet {
        font-size: 28px!important;
        line-height: 35px!important;
      }
    }

    .description {
      font-family: $font-primary;
      font-size: 22px;
      font-weight: 400;
      line-height: 27.9px;
      color: #857373;

      @include for-tablet {
        font-size: 16px;
        line-height: 20px;
      }

      p {
        max-width: 620px;
      }

      p,
      ul,
      li {
        font-size: 22px;
        font-weight: 400;
        line-height: 27.9px;
        color: #857373;

        @include for-tablet {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  &--bottom {
    position: relative;
    display: flex;

    @include for-tablet {
      flex-direction: column;
    }
  }
}

.full-width {
  width: 100%;
  margin: 10px 25px !important;

  @include for-tablet {
    margin: 50px 0 0 !important;
  }

  .textarea {
    width: 100% !important;
  }
}

.block-title {
  position: absolute;
  top: -10px;
  font-family: $font-primary;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  font-weight: 600;
  text-transform: uppercase;
  color: #857373;

  @include for-tablet {
    position: relative;
    top: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: normal;
  }
}

.fields__wrapper {
  margin: 10px 70px 0 0;

  @include for-tablet {
    margin: 0;
  }

  &--item {
    width: 20vw;
    height: 40px;
    margin: 10px 0;

    @include for-tablet {
      width: 100%;
      height: 36px;
      margin: 10px 0 25px;
    }

    .input {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
      background: transparent;
      border: 1px solid #857373;
      transition: 0.4s all ease-in;
      color: #857373;
      font-family: $font-primary;
      font-size: 22px;
      font-weight: 500;

      &::placeholder {
        transition: 0.4s all ease-in;
        font-family: $font-primary;
        font-size: 22px;
        font-weight: 500;
        opacity: 0.5;
      }

      &:focus,
      &:active {
        outline: none;
      }
    }

    .label {
      top: -5px;
      position: relative;
      font-family: $font-primary;
      font-size: 14px;
      font-weight: 600;
      line-height: 17.75px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #857373;
    }

    .selector-field {
      width: 100%;
      height: 100%;
      padding: 0;
      padding-top: 2px;
      margin: 0;
      text-align: center;
      background: transparent;
      border: 1px solid #857373;
      cursor: pointer !important;
      transition: 0.4s all ease-in;
      color: #857373;

      @include for-tablet {
        height: 36px;
        padding: 0;
      }

      &:hover {
        background: #857373;

        &::placeholder {
          color: white;
          opacity: 1; /* Firefox */
        }
      }

      &::placeholder {
        transition: 0.4s all ease-in;
        font-family: $font-primary;
        font-size: 1.3vw;
        font-weight: 500;
      }

      &:focus,
      &:active {
        outline: none;
      }
    }

    .selector-active {
      background: #857373 !important;
      color: white;

      &::placeholder {
        color: white;
        opacity: 1; /* Firefox */
      }
    }
  }

  .textarea {
    width: 100%;
    height: 140px;

    .input {
      padding: 10px 10px 100px;
      background: transparent;
      border: 1px solid #857373;
      transition: 0.4s all ease-in;
      color: #857373;
      font-family: $font-primary;
      font-size: 18px;
      font-weight: 300;
      resize: none;
      text-align: left !important;

      &::placeholder {
        transition: 0.4s all ease-in;
        font-family: $font-primary;
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        opacity: 0.5;
      }

      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}

.second-wrapper {
  @include for-tablet {
    margin-top: -12px;
  }
}

.second-step-second-wrapper {
  @include for-tablet {
    margin-top: 50px;
  }
}

.text-field {
  width: 25% !important;
  height: 83px !important;
  margin: 0 !important;

  .input {
    font-size: 18px;

    &::placeholder {
      transition: 0.4s all ease-in;
      font-size: 1.3vw;
      font-weight: 300;
      font-style: italic;
      opacity: 0.5;
    }
  }
}

.horizontal {
  display: flex;

  @include for-tablet {
    flex-direction: column;
  }

  .fields__wrapper--item {
    margin-right: 70px;
    width: 12vw;

    @include for-tablet {
      margin-right: 0;
      width: 100%;
    }
  }

  .textarea {
    width: 100%;
  }

  .custom-radio {
    min-width: auto;
  }
}

.text-field__wrapper {
  justify-content: space-between;
  width: 100%;
}

.horizontal-with-textarea {
  width: 100%;
  margin-right: 0;
}

.pagination__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include for-tablet {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 18px;
    background: #9cadbd;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.4s all ease-in;

    @include for-tablet {
      transition: none;
    }

    span {
      font-family: $font-primary;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      position: relative;
      color: #9cadbd;
      transition: 0.4s all ease-in;

      @include for-tablet {
        color: $white;
        transition: none;
      }

      &:hover {
        &:before {
          content: "";
          width: 100%;
          height: 1.5px;
          background: #9cadbd;
          position: absolute;
          top: 22px;
          opacity: 0.7;
        }
      }

      &:before {
        content: "";
        width: 100%;
        height: 1.5px;
        background: #9cadbd;
        position: absolute;
        top: 22px;
        transition: 0.4s all ease-in;

        @include for-tablet {
          background: $white;
          transition: none;
        }
      }
    }

    &:hover {
      span {
        opacity: 0.7;

        &::before {
          opacity: 0.7;
        }
      }

      img {
        opacity: 0.7;
      }

      @include for-tablet {
        span {
          color: $white;
        }
      }
    }

    img {
      position: relative;
      top: 2px;
      width: 14px;
      transition: 0.4s all ease-in;

      @include for-tablet {
        transition: none;
      }
    }
  }

  .wrapper {
    margin-right: 25px;
    display: flex;

    @include for-tablet {
      margin-right: 0;
    }

    .warning {
      position: relative;
      top: 4px;
      margin-right: 35px;
      font-family: $font-primary;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      color: #e8543b;

      @include for-tablet {
        position: absolute;
        bottom: 60px;
        top: auto;
        background: #e8543b;
        color: $white;
        width: 100%;
        left: 0;
        padding: 10px 20px;
        font-size: 13px;
        text-align: center;
      }
    }
  }

  .btn-prev {
    img {
      transform: rotate(180deg);
      margin-right: 5px;
    }
  }

  .btn-next {
    img {
      margin-left: 5px;
    }
  }
}

.custom-radio {
  position: relative;
  border: 1px solid #857373;
  width: 100%;
  min-width: 258px;
  padding: 0 11px;
  height: 33px;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #857373;

  @include for-tablet {
    min-width: auto;
    height: 36px;
    padding: 22px;
  }

  .selector-active {
    background: #857373 !important;
    color: white;

    &::placeholder {
      color: white;
      opacity: 1; /* Firefox */
    }
  }

  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.step-4__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--item {
    width: 32%;
    margin-right: 25px;
    display: flex;
    flex-direction: column;

    @include for-tablet {
      width: 100%;
      margin-right: 0;
    }

    .input-label {
      margin-bottom: 10px;
      position: relative;
      font-family: $font-primary;
      font-size: 14px;
      font-weight: 600;
      line-height: 17.75px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #857373;
    }

    .text-area {
      padding: 10px 10px 100px;
      background: transparent;
      border: 1px solid #857373;
      transition: 0.4s all ease-in;
      color: #857373;
      font-family: $font-primary;
      font-size: 18px;
      font-weight: 300;
      resize: none;

      @include for-tablet {
        padding: 10px 10px 400px;
      }

      &::placeholder {
        transition: 0.4s all ease-in;
        font-family: $font-primary;
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        opacity: 0.5;
      }

      &:focus,
      &:active {
        outline: none;
      }
    }

    .file__wrapper {
      position: relative;
      padding: 5px 10px;
      margin-bottom: 5px;
      background: transparent;
      border: 1px solid #857373;
      transition: 0.4s all ease-in;
      color: #857373;
      font-family: $font-primary;
      font-size: 18px;
      font-weight: 300;

      @include for-tablet {
        background: #857373;
      }

      &--placeholder {
        font-family: $font-primary;
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        opacity: 0.5;

        @include for-tablet {
          color: $white;
          opacity: 1;
          font-style: normal;
        }
      }

      input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
      }

      &--bottom {
        .top {
          display: flex;
          align-items: center;

          .icon {
            top: -1px;
            position: relative;
            font-family: $font-primary;
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            color: $black;
            cursor: pointer;

            @include for-tablet {
              font-size: 30px;
              top: -3px;
            }
          }

          .text {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $black;
            cursor: pointer;
          }
        }

        .bottom {
          margin-top: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .format {
            font-family: $font-primary;
            font-size: 12px;
            line-height: 15px;
            color: #857373;
          }

          .file-names__wrapper {
            .file-names {
              display: flex;
              align-items: center;

              .delete-icon {
                margin-right: 5px;
                font-family: $font-primary;
                font-size: 12px;
                font-weight: 600;
                line-height: 15px;
                color: #e8543b;
                cursor: pointer;
              }

              .name {
                font-family: $font-primary;
                font-size: 12px;
                line-height: 15px;
                color: #857373;
              }
            }
          }
        }
      }
    }

    &:nth-child(2) {
      width: 60%;

      @include for-tablet {
        width: 100%;
        margin-top: 50px;
      }
    }
  }
}

.step-5__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--item {
    width: 28%;
    margin-right: 25px;
    display: flex;
    flex-direction: column;

    @include for-tablet {
      width: 100%;
      margin-right: 0;
      margin-bottom: 50px;
    }

    .input-label {
      margin-bottom: 5px;
      position: relative;
      font-family: $font-primary;
      font-size: 14px;
      font-weight: 600;
      line-height: 17.75px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #857373;

      @include for-tablet {
        margin-bottom: 10px;
      }
    }

    .text-input {
      padding: 10px 10px 50px;
      background: transparent;
      border: 1px solid #857373;
      transition: 0.4s all ease-in;
      color: #857373;
      font-family: $font-primary;
      font-size: 18px;
      font-weight: 300;

      @include for-tablet {
        padding: 10px 10px 20px;
      }

      &::placeholder {
        transition: 0.4s all ease-in;
        font-family: $font-primary;
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        opacity: 0.5;
      }

      &:focus,
      &:active {
        outline: none;
      }
    }

    &:nth-child(4) {
      margin-top: 20px;

      @include for-tablet {
        margin-top: 0;
      }
    }
  }
}

.submitted__wrapper {
  .description {
    margin-top: 15px;
    font-weight: 400;
  }
}
