.accordion__wrapper {
  margin: 150px 5vw;
  padding: 70px 0;

  @include for-tablet {
    margin: 0 5vw;
  }

  &--title {
    width: 35%;
    padding: 0 0 120px 0;
    margin: 0;
    font-weight: 300;
    color: $white;

    @include for-tablet {
      width: 100%;
      padding: 0 0 60px 0;
      font-size: 22px;
      line-height: 27px;
    }
  }

  &--list {
    padding: 0;
    margin: 0;
    list-style: none;
    color: $white;

    .list-item {
      padding: 30px 40px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      opacity: 0;
      transition: 250ms ease-in-out;
      &.active{
        opacity: 1;
        transition: 250ms ease-in-out;
      }
      @include for-tablet {
        font-size: 22px;
        line-height: 27px;
      }

      &.list-item--spacer:after{
        display: none;
      }

      &.list-item--spacer{
        height: 50px;
      }

      &:after {
        content: "";
        position: absolute;
        left: 40px;
        width: calc(100% - 80px);
        height: 1px;
        top: 0px;
        display: flex;
        background-color: $white;
      }

      &:first-child:after{
        display: none;
      }
      &__title {
        width: 90%;
        cursor: pointer;
      }

      &__icon {
        width: 10%;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
      }

      &__description {
        width: 100%;
        font-size: 14px;
        line-height: 17.75px;
        color: $white;
        overflow: hidden;
        transition: 250ms ease-in-out;
      }
    }
  }
}
