.content-and-carousel__wrapper {
  width: 100%;
  padding: 150px 5vw 200px;
  display: flex;
  flex-wrap: wrap;

  @include for-tablet {
    padding: 100px 5vw 100px;
    flex-wrap: wrap;
  }

  &--title {
    width: 50%;

    @include for-tablet {
      width: 100%;
      padding-bottom: 60px;
    }

    .title {
      width: 65%;
      margin: 0;
      font-weight: 300;
      color: $white;

      @include for-tablet {
        width: 100%;
        font-size: 22px;
        line-height: 28px;
      }
    }
  }

  &--content {
    width: 50%;

    @include for-tablet {
      width: 100%;
    }

    .content__wrapper {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;

      @include for-tablet {
        justify-content: unset;
      }

      &--subtitle {
        width: 80%;
        font-size: 44px;
        font-weight: 600;
        line-height: 55px;
        color: $white;
        margin-bottom: 1em;
        hyphens: auto;


        @include for-tablet {
          width: 100%;
          font-size: 30px;
          line-height: 38px;
        }
      }

      &--description {
        width: 80%;
        font-size: 1em;
        font-weight: 300;
        line-height: 150%;
        color: $white;

        @include for-tablet {
          width: 100%;
        }
      }
    }
  }

  &--slider {
    width: 100%;
    margin-top: 280px;

    @include for-tablet {
      margin-top: 80px;
    }

    .slider__wrapper {
      .agile{
        width: calc(100% - 5px);
        overflow: hidden;
        @include for-tablet {
          width: 100%;
        }
      }
      &--icons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        position: absolute;
        bottom: -30px;
        .icon {
          cursor: pointer;
          margin-left: auto;
          &--prev{
            transform: rotate(180deg);
            margin-right: auto;
            margin-left: 0;
          }
        }
      }

      &--content {
        display: flex;
        @include for-tablet {
          flex-wrap: wrap;
        }
        > div:first-child{
          width: 35%;
          @include for-tablet {
            width: 100%;
            .wrap{
              width: 100%;
            }
          }
        }
        > div:last-child{
          width: 65%;
          position: relative;
          @include for-tablet {
            width: 100%;
            margin-top: 30px;
          }
        }
        .slider-item {
          height: 220px;
          padding-top: 10px;

          &__headline{
            position: relative;
            margin: 0;
            font-size: 1em;
            text-transform: uppercase;
            color: #857373;
          }
          .wrap {
            width: 95%;
            height: 100%;

            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #fffce5;
            position: relative;

            .slider-item__content {
              .author {
                font-size: 1em;
                font-weight: 300;
                color: $brand-secondary;
              }

              .title {
                margin-top: 15px;
                font-size: 20px;
                font-weight: 400;
                line-height: 22.82px;
                color: $brand-secondary;
              }
            }

            .slider-item__link {
              display: flex;
              align-items: center;

              .icon {
                margin-right: 10px;
                font-size: 1em;
                font-weight: 300;
                color: $brand-secondary;
                cursor: pointer;
              }

              .link {
                font-size: 1em;
                font-weight: 300;
                color: $brand-secondary;
                border-bottom: 1px solid $brand-secondary;
                cursor: pointer;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
