.image-with-facts__wrapper {
  width: 100%;
  display: flex;

  @include for-tablet {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  &--content {
    width: 100%;

    @include for-tablet {
      width: 100%;
    }

    .content__wrapper {
      width: 100%;
      height: 100%;
      padding: 7vw 5vw;
      top: 0;
      left: 0;
      position: relative;
      display: flex;
       flex-wrap: wrap;

      @include for-tablet {
        padding: 60px 5vw;
      }

      &--title {
        width: 40%;
        font-weight: 300;
        color: $white;

        @include for-tablet {
          width: 100%;
          font-size: 22px;
          line-height: 35px;
        }
      }

      &--items {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        @include for-tablet {
          width: 100%;
        } 

        .items__wrapper {
          width: 50%;
          padding: 15px 0;
          padding-left: 10%;
          @include for-tablet {
            padding-left: 0;
          }

          &--number {
            font-size: 5.625em;
            font-weight: 600;
            line-height: 114px;
            color: $white;

            @include for-tablet {
              font-size: 50px;
              line-height: 76px;
            }
          }

          &--text {
            font-size: 1em;
            font-weight: 300;
            line-height: 150%;
            color: $white;
          }
        }
      }
    }
  }

  &--image {
    width: 50%;
    height: 850px;
    padding: 40px 0;

    @include for-tablet {
      width: 100%;
      height: auto;
      padding: 0 0 40px;
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: contain;

      @include for-tablet {
        object-fit: cover;
      }
    }
  }
}
