.image-with-content__wrapper {
  width: 100%;
  display: flex;

  @include for-tablet {
    flex-wrap: wrap;
  }

  &--content {
    width: 50%;

    @include for-tablet {
      width: 100%;
    }

    .content__wrapper {
      width: 100%;
      height: 100%;
      padding: 5vw;
      top: 0;
      left: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $black;

      @include for-tablet {
        padding: 80px 5vw;
      }

      &--number {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        color: $brand-secondary;

        &::before {
          content: "";
          position: relative;
          width: 8px;
          height: 1px;
          margin-right: 3px;
          display: flex;
          background-color: $brand-secondary;
        }
      }

      &--title {
        width: 60%;
        font-weight: 300;
        color: $brand-secondary;

        @include for-tablet {
          width: 100%;
        }
      }

      &--description {
        width: 75%;
        margin-bottom: 17vw;
        position: relative;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        color: $brand-secondary;

        @include for-tablet {
          width: 100%;
        }
      }

      &--link {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: $brand-secondary;

        .icon {
          margin-right: 10px;
        }

        .link {
          border-bottom: 2px solid $brand-secondary;
        }
      }
    }
  }

  &--image {
    width: 50%;

    @include for-tablet {
      width: 100%;
    }

    .image {
      width: 100%;
      height: 100%;
    }
  }
}
