.multi-step-form-section__wrapper {
  padding: 1vw 5vw 7vw;
  background: $brand-yelowish;
  position: relative;
  z-index: 9999;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  > div{
    width: 100%;
    max-width: 1600px;
    padding-top: 70px;
  }

  @include for-tablet {
    width: 100%;
    height: 100vh;
    padding-bottom: 200px;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: scroll;
    z-index: 99;
    align-items: flex-start;
  }
}
