.multi-step-form-section__wrapper {
  padding: 1vw 5vw 7vw;
  background: $brand-yelowish;
  position: relative;
  z-index: 9999;

  @include for-tablet {
    width: 100%;
    height: 100vh;
    padding-bottom: 80px;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: scroll;
    z-index: 99;
  }
}
