.process__wrapper {
  width: 100%;
  padding: 150px 5vw 200px;
  display: flex;
  flex-wrap: wrap;
  background: #618787;

  @include for-tablet {
    padding: 100px 5vw 100px;
    flex-wrap: wrap;
  }

  &--title {
    width: 100%;

    @include for-tablet {
      width: 100%;
      padding-bottom: 60px;
    }

    .title {
      width: 65%;
      margin: 0;
      font-weight: 300;
      color: $white;

      @include for-tablet {
        width: 100%;
        font-size: 22px;
        line-height: 28px;
      }
    }
  }

  &--content {
    width: 100%;
    margin-top: 200px;

    @include for-tablet {
      width: 100%;
    }

    .content__wrapper {
      color: $white;

      &--item {
        width: 100%;
        display: flex;
        padding: 5px 0;

        .item__left {
          width: 50%;
          display: flex;

          &--number {
            font-size: 14px;
            font-weight: 300;
            line-height: 17.75px;
          }

          &--title {
            margin-left: 25px;
            font-size: 14px;
            font-weight: 300;
            line-height: 17.75px;
          }
        }

        .item__right {
          width: 50%;
          right: 0;
          margin-top: 95px;
          position: absolute;

          &--description {
            width: 84%;
            font-size: 14px;
            font-weight: 300;
            line-height: 17.75px;
          }
        }
      }
    }
  }
}

.left-item {
  padding: 50px 0;
  flex-direction: column;
}

.left-title {
  font-size: 34px !important;
  font-weight: 600 !important;
  line-height: 43px !important;
  margin-left: 0 !important;
}

.left-number {
  display: flex;
  align-items: center;
  font-size: 24px !important;
  font-weight: 300 !important;
  line-height: 30px !important;

  &::before {
    content: "";
    width: 16px;
    height: 1px;
    margin-right: 7px;
    background-color: #ffffff;
    position: relative;
    display: flex;
  }
}
