.process__wrapper {
  width: 100%;
  padding: 150px 5vw 50px;
  display: flex;
  flex-wrap: wrap;

  @include for-tablet {
    padding: 100px 5vw 100px;
    flex-wrap: wrap;
  }

  &--title {
    width: 100%;

    @include for-tablet {
      width: 100%;
      padding-bottom: 60px;
    }

    .title {
      width: 15%;
      margin: 0;
      font-weight: 300;
      color: $white;

      @include for-tablet {
        width: 100%;
        font-size: 22px;
        line-height: 28px;
      }
    }
  }

  &--content {
    width: 100%;
    margin-top: -500px;

    @include for-tablet {
      width: 100%;
    }

    .content__wrapper {
      height: 366px;
      bottom: calc((100vh - 356px) / 2);
      position: sticky;
      color: $white;

      @media screen and (min-width: 991px) {
        margin-top: -310px !important;
      }

      @include for-tablet {
        height: 478px;
        bottom: calc((100vh - 478px) / 2);
        margin-top: -350px!important;
      }

      &--item {
        width: 100%;
        display: flex;
        padding: 5px 0;

        &:nth-child(6) {
          .item__right {
            .item__right--description {
              @include for-tablet {
                margin-top: 37px;
              }
            }
          }
        }

        .item__left {
          width: 50%;
          display: flex;

          @include for-tablet {
            width: 100%;
          }

          &--number {
            font-size: 14px;
            font-weight: 300;
            line-height: 17.75px;
          }

          &--title {
            margin-left: 25px;
            font-size: 14px;
            font-weight: 300;
            line-height: 17.75px;
          }
        }

        .item__right {
          width: 50%;
          margin-top: 70px;
          right: 0;
          position: absolute;
          opacity: 0;

          @include for-tablet {
            width: 100%;
            margin-top: 100px;
          }

          &--description {
            width: 84%;
            font-size: 14px;
            font-weight: 300;
            line-height: 17.75px;

            @include for-tablet {
              width: 100%;
              // margin-top: 37px;
            }
          }
        }
      }
    }
  }
}

.left-item {
  padding-bottom: 50px;
  flex-direction: column;

  @include for-tablet {
    margin-top: 20px;
    padding-bottom: 200px;
  }
}

.left-title {
  font-size: 34px !important;
  font-weight: 600 !important;
  line-height: 43px !important;
  margin-left: 0 !important;
}

.left-number {
  display: flex;
  align-items: center;
  font-size: 24px !important;
  font-weight: 300 !important;
  line-height: 30px !important;

  &::before {
    content: "";
    width: 16px;
    height: 1px;
    margin-right: 7px;
    background-color: #ffffff;
    position: relative;
    display: flex;
  }
}

.scroller {
  width: 1px;
  position: relative;
}
