.steps__wrapper {
  width: 100%;
  padding: 150px 5vw 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @include for-tablet {
    padding: 100px 5vw 100px;
    flex-wrap: wrap;
  }

  #curve-svg {
    width: 1150px;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -161px;
    position: absolute;
    z-index: 2;

    @media screen and (max-width: 1160px) {
      width: 960px;
      margin-top: -120px;
    }

    @include for-tablet {
      display: none;
    }

    &:nth-child(2) {
      z-index: 1;
    }
  }

  #curve-svg-mobile {
    display: none;

    @include for-tablet {
      display: flex;
      position: absolute;
      margin-left: -7px;
      margin-top: 80px;
    }
  }

  #arrow {
    width: 1150px;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -161px;
    position: absolute;
    z-index: 2;

    @media screen and (max-width: 1160px) {
      width: 950px;
      margin-top: -320px;
    }

    @include for-tablet {
      position: absolute;
      height: 0px;
      width: 50px;
      bottom: 236px;
      left: -330px;
      transform: scale(0.4);
    }
  }

  #arrow-svg {
    top: 70%;
    left: -18px;
    position: absolute;

  }

  &--title {
    width: 50%;

    @include for-tablet {
      width: 100%;
      padding-bottom: 60px;
    }

    .title {
      width: 300px;
      margin: 0;
      font-weight: 300;
      color: $light-yellow;

      @include for-tablet {
        width: 100%;
        font-size: 22px;
        line-height: 28px;
      }
    }
  }

  &--description {
    width: 50%;

    @include for-tablet {
      width: 100%;
    }

    .description {
      font-size: 14px;
      font-weight: 300;
      line-height: 17.75px;
      color: $light-yellow;
    }
  }

  &--content {
    width: 78%;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    @media screen and (min-width: 1300px) {
      width: 73%;
    }

    @media screen and (min-width: 1450px) {
      width: 64%;
    }

    @media screen and (min-width: 1600px) {
      width: 64%;
    }

    @media screen and (min-width: 1660px) {
      width: 52%;
    }

    @media screen and (min-width: 1800px) {
      width: 49%;
    }

    @media screen and (min-width: 1900px) {
      width: 47%;
    }

    @include for-tablet {
      width: 100%;
      margin-top: 100px;
    }

    .step-item {
      width: 50%;
      height: 468px;
      display: flex;
      justify-content: center;

      @media screen and (max-width: 1160px) {
        height: 389px;
      }


      &:nth-child(1) {
        width: 65%;
        @include for-tablet {
          width: 100%;
        }
        .step-item__wrapper--circle {
          top: -3px;
        }
      }

      &:nth-child(2) {
        width: 35%;
        @include for-tablet {
          width: 100%;
        }

        
      }

      &:nth-child(7) {
        .step-item__wrapper--circle {
          top: 1px;
        }
      }

      @include for-tablet {
        width: 100%;
        height: 300px;
      }

      &__wrapper {
        width: 60%;

        @include for-tablet {
          width: 100%;
          display: flex;
          align-items: flex-start;
        }

        &--circle {
          width: 12px;
          height: 12px;
          position: relative;
          border-radius: 100%;
          background-color: #e8543b;
          opacity: 1;
          z-index: 99;

          @include for-tablet {
            left: 27px;
            position: relative;
          }
        }

        &--content {
          @include for-tablet {
            width: 83%;
            margin-left: 50px;
            top: -29px;
            position: relative;
          }

          .number {
            margin-top: 20px;
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 300;
            color: $light-yellow;

            @include for-tablet {
              font-size: 22px;
            }

            &::before {
              content: "";
              position: relative;
              width: 15px;
              height: 1px;
              margin-right: 8px;
              display: flex;
              background-color: $light-yellow;
            }
          }

          .title {
            font-size: 34px;
            font-weight: 600;
            color: $light-yellow;

            @include for-tablet {
              font-size: 22px;
            }
          }

          .description {
            width: 80%;
            margin-top: 35px;
            font-size: 14px;
            font-weight: 300;
            line-height: 17.75px;
            color: $light-yellow;

            @include for-tablet {
              width: 100%;
            }
          }
        }
      }
    }

    #step-0 {
      @include for-tablet {
        display: none;
      }
    }
  }
}
