.title-subtitle-link__wrapper {
  width: 100%;
  padding: 150px 5vw 200px;
  display: flex;

  @include for-tablet {
    padding: 100px 5vw 100px;
    flex-wrap: wrap;
  }

  &--title {
    width: 50%;

    @include for-tablet {
      width: 100%;
      padding-bottom: 60px;
    }

    .title {
      width: 300px;
      margin: 0;
      font-weight: 300;
      color: $white;

      @include for-tablet {
        width: 100%;
        font-size: 22px;
        line-height: 28px;
      }
    }
  }

  &--content {
    width: 50%;

    @include for-tablet {
      width: 100%;
    }

    .subtitle {
      padding: 0 40px;
      font-size: 2.75em;
      font-weight: 600;
      line-height: 55px;
      color: $white;

      @include for-tablet {
        padding: 0;
        font-size: 30px;
        line-height: 38px;
      }
    }

    .description {
      padding: 0 40px;
      font-size: 1em;
      font-weight: 300;
      line-height: 150%;
      color: $white;

      @include for-tablet {
        padding: 0;
      }
    }
    .link__wrapper {
      margin-top: 60px;
      padding: 0 40px;
      display: flex;
      align-items: center;

      @include for-tablet {
        padding: 0;
        margin-top: 20vw;
      }

      &--icon {
        margin-right: 10px;
        font-size: 1em;
        font-weight: 300;
        color: $white;
        cursor: pointer;
      }

      &--link {
        font-size: 1em;
        font-weight: 600;
        color: $white;
        border-bottom: 1px solid $white;
        cursor: pointer;
      }
    }
  }
}
