.title-description-link__wrapper {
  margin: 150px 5vw;
  padding: 120px 50px;
  display: flex;

  @include for-tablet {
    margin: 0 5vw 70px;
    padding: 70px 5vw;
    flex-wrap: wrap;
  }

  &--title {
    width: 50%;

    @include for-tablet {
      width: 100%;
      padding-bottom: 60px;
    }

    .title {
      width: 400px;
      margin: 0;
      font-weight: 300;
      color: $white;

      @include for-tablet {
        width: 100%;
        font-size: 22px;
        line-height: 28px;
      }
    }
  }

  &--content {
    width: 50%;

    @include for-tablet {
      width: 100%;
    }

    .description {
      padding: 0 40px;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      color: $white;

      @include for-tablet {
        padding: 0;
      }
    }

    .link__wrapper {
      margin-top: 60px;
      padding: 0 40px;
      display: flex;
      align-items: center;

      @include for-tablet {
        padding: 0;
        margin-top: 20vw;
      }

      &--icon {
        margin-right: 10px;
        font-size: 14px;
        font-weight: 300;
        color: $white;
        cursor: pointer;
      }

      &--link {
        font-size: 14px;
        font-weight: 300;
        color: $white;
        border-bottom: 1px solid $white;
        cursor: pointer;
      }
    }
  }
}
