.title-description-link__wrapper {
  margin: 150px 5vw;
  padding: 120px 50px;
  display: flex;

  @include for-tablet {
    margin: 0 5vw 70px;
    padding: 70px 5vw;
    flex-wrap: wrap;
  }

  &--title {
    width: 50%;

    @include for-tablet {
      width: 100%;
      padding-bottom: 60px;
    }

    &__number{
      color: $white;
      margin-top: -1.5em;
      display: block;
      transform: translateY(-1em);
    }

    .title {
      width: 400px;
      margin: 0;
      font-weight: 300;
      color: $white;

      @include for-tablet {
        width: 100%;
        font-size: 22px;
        line-height: 28px;
      }
    }
  }

  &--content {
    width: 50%;

    @include for-tablet {
      width: 100%;
    }

    .description {
      padding: 0 40px;
      font-size: 1em;
      font-weight: 300;
      line-height: 150%;
      color: $white;

      @include for-tablet {
        padding: 0;
      }
    }

    .link__wrapper {
      margin-top: 60px;
      padding: 0 40px;
      display: flex;
      align-items: center;

      @include for-tablet {
        padding: 0;
        margin-top: 20vw;
      }

      &--icon {
        margin-right: 10px;
        width: 17px;
        height: 17px;
        font-size: 1em;
        font-weight: 300;
        color: $white;
        cursor: pointer;
        transform: translateY(0.23em);
      }

      &--link {
        font-size: 1em;
        font-weight: 600;
        color: $white;
        margin-bottom: 1.2em;
        display: block;
        
        cursor: pointer;
        @include for-tablet {
          margin-bottom: 2em;
          display: flex;
          justify-content: flex-start;
        }
        span{
          position: relative;
          &:after{
            content: '';
            background-color: $white;
            height: 1px;
            width: 100%;
            bottom: -7px;
            left: 0;
            position: absolute;
          }
        }
      }
    }
  }
}
