
.background-image-before{
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.background-images__wrapper {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;

  &--item {
    width: 100%;
    height: auto;

    &:nth-child(2) {
      position: relative;
      top: -5px;

      @include for-tablet {
        top: -5px;
      }
    }

    &:nth-child(3) {
      position: relative;
      top: -9px;

      @include for-tablet {
        top: -10px;
      }
    }

    &:nth-child(4) {
      position: relative;
      top: -13px;

      @include for-tablet {
        top: -15px;
      }
    }
  }
}

.video-footer__wrapper {
  width: 200%;
  height: 0;
  padding-bottom: 71%;
  bottom: -55vh;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
  overflow: hidden;
  mix-blend-mode: lighten;

  @include for-tablet {
    bottom: -13vh;
  }

  @include for-mobile {
    bottom: -6vh;
  }

  &--item {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    mix-blend-mode: lighten;
    opacity: 0.5;
    pointer-events: none;
    z-index: 20;
  }
}
