.footer__wrapper {
  width: 100%;
  // margin-top: -210px;
  padding: 25px 0 0;
  position: relative;
  display: flex;
  z-index: 10;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: $transparent;

  @include for-mobile {
    // margin-top: -430px;
    padding: 0;
    flex-direction: column;
  }

  @media screen and (min-width: 600px) {
   // margin-top: -70vw !important;
  }

  @media screen and (min-width: 630px) {
   // margin-top: -68vw !important;
  }

  @media screen and (min-width: 800px) {
   // margin-top: -61vw !important;
  }

  @media screen and (min-width: 863px) {
    //margin-top: -58vw !important;
  }

  @media screen and (min-width: 991px) {
   // margin-top: -210px !important;
  }

  &--navigation {
    width: 50%;
    padding: 0 5vw;
    display: flex;
    align-items: center;

    @include for-tablet {
      width: 100%;
    }

    .navigation__wrapper {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;

      @include for-tablet {
        flex-direction: column;
      }

      .link-item {
        width: 30%;
        padding: 0 40px 10px 0;
        line-height: 18px;
        color: $white;
        text-decoration: none;

        @include for-tablet {
          width: 100%;
          padding: 0 40px 40px 0;
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 1.2px;
        }

        &:nth-child(2) {
          @include for-tablet {
            margin-top: 20px;
          }
        }

        &:nth-child(3) {
          @include for-tablet {
            position: relative;
            top: -20px;
          }
        }

        &:nth-child(4) {
          margin-left: 30%;

          @include for-tablet {
            margin-left: 0;
          }
        }

        &:nth-child(5) {
          @include for-tablet {
            position: relative;
            top: -20px;
          }
        }
      }
    }
  }

  &--content {
    width: 50%;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include for-tablet {
      width: 100%;
      padding: 0 5vw;
    }

    .title {
      font-size: 1.5em;
      font-weight: 400;
      line-height: 30px;
      color: $white;

      @include for-tablet {
        width: 70%;
        font-size: 18px;
        line-height: 22px;
      }
    }

    .logo {
      @include for-tablet {
        width: 30%;
      }
    }
  }

  &--bottom {
    width: 100%;
    padding: 20px 5vw;
    display: flex;
    align-items: center;
    background-color: $brand-secondary;

    .title {
      font-size: 12px;
      font-weight: 300;
      line-height: 15px;
      color: $white;

      @include for-tablet {
        width: 60%;
        font-size: 11px;
      }
    }

    .logo__wrapper {
      display: flex;
      align-items: center;

      @include for-tablet {
        width: 40%;
        justify-content: space-between;
      }

      &--item {
        &:nth-child(1) {
          margin-left: 100px;

          @include for-tablet {
            margin-left: 0;
          }
        }

        margin: 0 30px;

        @include for-tablet {
          margin: 0;
          width: 60px;
        }
      }
    }
  }
}
