.header__wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 20px;

  @include for-tablet {
    padding: 15px 10px;
  }

  &--logo {
    cursor: pointer;
  }

  &--navigation {
    .navigation__wrapper {
      &--desktop {
        display: flex;
        list-style: none;

        @include for-tablet {
          display: none;
        }

        .link-item {
          padding: 0 20px;
        }
      }

      &--mobile {
        display: none;

        @include for-tablet {
          display: flex;
        }

        .burger__button {
          position: relative;
          height: 100%;
          display: block;
          border: 0;
          border-radius: 0;
          background-color: transparent;
          pointer-events: all;
          z-index: 999;

          &:focus {
            outline: 0;
          }

          &--bar {
            width: 25px;
            height: 2px;
            background-color: #000;
            display: flex;
            margin: 5px 0;
          }
        }

        .active {
          @include for-tablet {
            display: none;
          }
        }
      }

      &--sidebar {
        display: none;

        @include for-tablet {
          width: 100%;
          height: 100vh;
          top: 0;
          left: 0;
          padding: 15px 0 5px;
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          background-color: $brand-primary;
          z-index: 10;
        }

        .logo__wrapper {
          .logo {
            @include for-tablet {
            }
          }
        }

        .sidebar__wrapper {
          list-style: none;

          @include for-tablet {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          &--item {
            @include for-tablet {
              padding: 20px 0;
              font-size: 30px;
              font-weight: 600;
              line-height: 38px;
              text-decoration: none;
              color: $white;
            }
          }
        }

        .button__wrapper {
          @include for-tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
          }

          .button {
            @include for-tablet {
              width: 116px;
              height: 34px;
              margin-bottom: 45px;
              border-radius: 30px;
              border: none;
              font-size: 16px;
              line-height: 20px;
              color: $brand-primary;
            }
          }

          .line {
            @include for-tablet {
              width: 135px;
              height: 5px;
              display: flex;
              border-radius: 30px;
              background-color: $white;
            }
          }
        }
      }
    }
  }
}
