$white: #fff;
$black: #000;
$light-blue: #9CADBD;
$light-yellow: #FFFCE5;
$light-orange: #E3AD85;
$transparent: transparent;

$brand-primary: #618787;
$brand-secondary: #857373;
$brand-tertirary: #777777;
$brand-yelowish: #FFFCE5;

$text-primary: #000000;
$text-secondary: #777777;
