.cursor {
  height: 80px;
  width: 80px;
  top: 20%;
  left: 50%;
  position: fixed;
  border-radius: 80px;
  transform: translate3d(-50%, -50%, 0);
  object-fit: cover;
  mix-blend-mode: lighten;
  pointer-events: none;
  opacity: 0.8;
  z-index: 99999;

  @include for-tablet {
    display: none;
  }
}