/*
  General style
  ...
*/

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  background-color: $brand-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 13px;
  @include for-tablet {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
}

h1 {
  font-size: 4.063em;
  line-height: 82.42px;

  @include for-tablet {
  }
}

h2 {
  font-size: 2.125em;
  line-height: 43.11px;

  @include for-tablet {
  }
}

h3 {
  font-size: 1.5em;
  line-height: 30.43px;

  @include for-tablet {
  }
}

a {
  font-size: 1em;
  line-height: 17.75px;

  @include for-tablet {
  }
}

p {
  font-size: 1em;
  line-height: 150%;
  > a{
    text-decoration: underline;
    word-break: break-all;
  }
  @include for-tablet {
  }
}

span {
  font-size: 1em;
  line-height: 17.75px;

  @include for-tablet {
  }
}

ul > li {
  //font-size: 2.125em;
  //font-weight: 600;
  //line-height: 43px;

  @include for-tablet {
  }
}

input {
  font-size: 0.75em;
  font-weight: 600;
  line-height: 15.22px;

  @include for-tablet {
  }
}

img {
  object-fit: cover;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}

.ew-logo{
  height: 2.5em;
  width: auto;
  transform: translateY(0.24em);
  margin: 0 0.3em 0.6em 0.3em;
}


.slice__wrapper--item{
  -webkit-backface-visibility: hidden;
}