.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: .7s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-preloader-enter-active,
.fade-preloader-leave-active {
  transition: all 2.5s;
}

.fade-preloader-enter,
.fade-preloader-leave-to {
  opacity: 0;
}

.sidebar-enter-active,
.sidebar-leave-active {
  position: absolute;
  transition: all 1.5s ease-in-out;
}

.sidebar-enter {
  opacity: 0;
}

.sidebar-leave-active {
  opacity: 0;
}

.before-enter {
  opacity: 0;
}

.enter {
  opacity: 1 !important;
  transition: opacity 2s ease;
}

.menu-button-enter-active,
.menu-button-leave-active {
  position: absolute;
  transition: all 1.5s ease-in-out;
}

.menu-button-enter {
  opacity: 0;
}

.menu-button-leave-active {
  opacity: 0;
}
